html, body{
    padding: 0;
    margin:0;
    background: #f4ffeb;
}

.container{
    width: 989px;
    margin: 0 auto;
    background-color: white;
    padding: 3px;
}

fieldset{
    border: 0;
}

.mid{

}